@model member_entity
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>重置密码第2步</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="../../layuiadmin/style/login.css" media="all">
</head>

<body>
    <div class="layadmin-user-login layadmin-user-display-show" id="LAY-user-login" style="display: none;">
        <div class="layadmin-user-login-main">
            <div class="layadmin-user-login-box layadmin-user-login-header">
                <h2>重置密码第2步</h2>
                <p> </p>
            </div>
            <form onsubmit="return false;">
                <div class="layadmin-user-login-box layadmin-user-login-body layui-form">
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-password"></label>
                        <input type="password" name="password" id="LAY-user-login-password" lay-verify="pass" placeholder="新密码" class="layui-input">
                    </div>
                    <div class="layui-form-item">
                        <label class="layadmin-user-login-icon layui-icon layui-icon-password" for="LAY-user-login-repass"></label>
                        <input type="password" name="repass" id="LAY-user-login-repass" lay-verify="required" placeholder="确认新密码" class="layui-input">
                    </div>

                    <div class="layui-form-item">
                        <button class="layui-btn layui-btn-fluid" lay-submit lay-filter="LAY-member-reg-submit">设置新密码</button>
                    </div>
                    <div class="layui-trans layui-form-item layadmin-user-login-other">
                        <a href="/member/login" class="layadmin-user-jump-change layadmin-link layui-hide-xs">我要登录</a>
                    </div>
                </div>
            </form>
        </div>

        <div class="layui-trans layadmin-user-login-footer">
            <p>&copy;2022 v6cms内容管理系统</p>
        </div>
    </div>
    <script>
        var return_url = '@ViewData["return_url"]';
    </script>
    <script src="../../layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
          base: '../../layuiadmin/' //静态资源所在路径
        }).extend({
          index: 'lib/index' //主入口模块
        }).use(['index', 'user'], function(){
          var $ = layui.$
          ,setter = layui.setter
          ,admin = layui.admin
          ,form = layui.form
          ,router = layui.router()
          ,search = router.search;

          form.render();

          //提交
          form.on('submit(LAY-member-reg-submit)', function(obj){

            //请求登入接口
            admin.req({
              url: '/member/reset_password/step2' //实际使用请改成服务端真实接口
              ,data: obj.field
              ,type: 'post'
              ,done: function(res){
                if(res.success){
                    //重置成功后跳转到登录页面
                    layer.msg(res.msg, {
                      offset: '15px'
                      ,icon: 1
                      ,time: 1000
                    }, function(){
                      top.location.href = '/member/login';
                    });
                }
                else{
                    layer.msg(res.msg, {
                      offset: '15px'
                      ,icon: 2
                      ,time: 1000
                    });
                }
              }
            });
          });
        });
    </script>
</body>
</html>