@model ErrorViewModel
@{
    ViewData["Title"] = "提示";
}
<div class="clearfix navbar-clear"></div>
<div class="m2ban">
    <div class="container clearfix">
        <div class="m2itmName m2itmName_icon2">@ViewData["Title"]
        </div>
        <p class="wow fadeInUp">
            @ViewData["message"]
        </p>
    </div>
</div>
<div class="clearfix navbar-clear"></div>
