@model leader_mailbox_entity
@{
    ViewData["Title"] = "添加领导信箱";
}
<div class="layui-card">
    <div class="layui-card-header">@ViewData["Title"]</div>
    <div class="layui-card-body" style="padding: 15px;">
        <form asp-action="create" class="layui-form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label asp-for="user_id" class="layui-form-label">用户id</label>
                    <div class="layui-input-inline">
                        <input asp-for="user_id" class="layui-input" />
                        <span asp-validation-for="user_id" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label asp-for="guest_name" class="layui-form-label">留言人姓名</label>
                    <div class="layui-input-inline">
                        <input asp-for="guest_name" class="layui-input" />
                        <span asp-validation-for="guest_name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label asp-for="guest_unit" class="layui-form-label">留言人单位</label>
                    <div class="layui-input-inline">
                        <input asp-for="guest_unit" class="layui-input" />
                        <span asp-validation-for="guest_unit" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label asp-for="guest_contact" class="layui-form-label">留言人联系方式</label>
                    <div class="layui-input-inline">
                        <input asp-for="guest_contact" class="layui-input" />
                        <span asp-validation-for="guest_contact" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label asp-for="title" class="layui-form-label">标题</label>
                    <div class="layui-input-inline">
                        <input asp-for="title" class="layui-input" />
                        <span asp-validation-for="title" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label asp-for="mail_type" class="layui-form-label">信件类型</label>
                    <div class="layui-input-inline">
                        <input asp-for="mail_type" class="layui-input" />
                        <span asp-validation-for="mail_type" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label asp-for="reply_type" class="layui-form-label">回复方式</label>
                    <div class="layui-input-inline">
                        <input asp-for="reply_type" class="layui-input" />
                        <span asp-validation-for="reply_type" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label asp-for="content" class="layui-form-label">内容</label>
                    <div class="layui-input-inline">
                        <input asp-for="content" class="layui-input" />
                        <span asp-validation-for="content" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label asp-for="ip" class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <input asp-for="ip" class="layui-input" />
                        <span asp-validation-for="ip" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label asp-for="create_time" class="layui-form-label"></label>
                    <div class="layui-input-inline">
                        <input asp-for="create_time" class="layui-input" />
                        <span asp-validation-for="create_time" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label asp-for="reply_content" class="layui-form-label">回复内容</label>
                    <div class="layui-input-inline">
                        <input asp-for="reply_content" class="layui-input" />
                        <span asp-validation-for="reply_content" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label asp-for="reply_time" class="layui-form-label">回复时间</label>
                    <div class="layui-input-inline">
                        <input asp-for="reply_time" class="layui-input" />
                        <span asp-validation-for="reply_time" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="layui-form-item layui-layout-admin">
                <div class="layui-input-block">
                    <div class="layui-footer" style="left: 0;">
                        <button class="layui-btn" lay-submit="" lay-filter="component-form-demo1">添加</button>
                        <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
