.ask_box {
    background: #fff;
    padding: 10px 10px;
    margin: 20px 0px 20px 0px;
    border: 1px solid #bbe3ff;
    box-shadow: 0 0 10px #4ab0f7;
}
a {color:#666;
}
.layui-card-body h2 {font-size:22px;color:#111;
}