<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>[field:article_title/]_[field:site_name/]</title>
    <meta name="keywords" content="[field:keywords/]" />
    <meta name="description" content="[field:summary/]" />
    <link href="/templates/dedecms/style/dedecms.css" rel="stylesheet" media="screen" type="text/css" />
</head>

<body class="articleview">
    <div class="header_top">
        <div class="h_t_l">九度 - 酒类大数据中心</div>
        <div class="h_t_c">
        </div>
        <div class="h_t_r">
            
        </div>
    </div>
    <div class="iheader">
        <div class="top">
            <div class="title">
                <h1><a href="/"><img src="/templates/dedecms/images/logo.gif" height="65" width="180" alt="[field:site_name/]" /></a> </h1>
            </div>
            <div class="banner">
                <div class="search">
                    <form name="formsearch" action="/search">
                        <div class="form">
                            <input type="hidden" name="kwtype" value="0" />
                            <input name="keyword" type="text" class="search-keyword" id="search-keyword" placeholder="在这里搜索..." />
                            <button type="submit" class="search-submit">搜索</button>
                        </div>
                    </form>
                    <div class="head-tags">
                        <ul>
                            
                        </ul>
                    </div>
                </div><!-- //search -->
            </div>
        </div><!-- //top -->
        <!-- //菜单 -->
        <div class="header_dh">
            <div class="top">
                <!-- //如果不使用currentstyle，可以在channel标签加入 cacheid='channeltoplist' 属性提升性能 -->
                <div id="navMenu">
                    <ul>
                        <li><a href='/'><span>首页</span></a></li>
                        {vtl:nav-list}
                        <li><a href='[field:url/]' target="[field:target/]">[field:column_name/]</a></li>
                        {/vtl:nav-list}
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- //header -->
    <!-- /header -->
    <div class="w1000 center clear mt1">
        <div class="pleft">
            <div class="place"> <strong>当前位置:</strong> [field:position/] </div>
            <!-- /place -->
            <div class="viewbox">
                <div class="title">
                    <h2>[field:article_title/]</h2>
                </div>
                <!-- /title -->
                <div class="info">
                    <small>时间:</small>[field:create_time format="yyyy-MM-dd HH:mm" /]<small>来源:</small>[field:source/] <small>作者:</small>[field:author/] <small>点击:</small>
                    <span id="views"></span>
                    次
                </div>
                <!-- /info -->
                <div class="intro">[field:summary/]</div>
                <div class="content">
                    <table width='100%'>
                        <tr>
                            <td>
                                <div id="contentMidPicAD" style="float:right; clear:both; top:0; vertical-align:top;">250x250</div>
                                [field:content/]
                            </td>
                        </tr>
                    </table>
                </div>
                <!-- /content -->
                <!-- /pages -->
                <div class="boxoff"> <strong>------分隔线----------------------------</strong> </div>
                <div class="handle">
                    <div class="context">
                        <ul>
                            <li>上一篇：[field:pre/]</li>
                            <li>下一篇：[field:next/]</li>
                        </ul>
                    </div>
                    <!-- /context -->
                    <div class="actbox">
                        <ul>
                            <li id="act-pnt"><a href="#" onClick="window.print();">打印</a></li>
                        </ul>
                    </div>
                    <!-- /actbox -->
                </div>
                <!-- /handle -->
            </div>
            <!-- /viewbox -->
        </div>
        <!-- //左边内容结束 -->
        <!-- //右边内容开始 -->
        <div class="pright">
            <div class="pright">
                <div class="commend mt1">
                    <dl class="tbox light">
                        <dt class='light'><strong>推荐内容</strong></dt>
                        <dd class='light'>
                            <ul class="d4">
                                {vtl:article-list category_id='all' flag='recommend' take='6' titlelen='14'}
                                <li>
                                    <a href="[field:url/]" title="[field:fulltitle/]">[field:title/]</a>
                                    <p>[field:summary/]</p>
                                </li>
                                {/vtl:article-list}
                            </ul>
                        </dd>
                    </dl>
                </div>
                <!-- /commend -->
                <div class="hot mt1">
                    <dl class="tbox light">
                        <dt class='light'><strong>热点内容</strong></dt>
                        <dd class='light'>
                            <ul class="c1 ico2">
                                {vtl:article-list flag='hot' take='10' titlelen='14'}
                                <li><a href="[field:url/]" title="[field:fulltitle/]">[field:title/]</a></li>
                                {/vtl:article-list}
                            </ul>
                        </dd>
                    </dl>
                </div>
            </div>
            <!-- /pright -->
        </div>
        <!-- //底部模板 -->
        <div class="footer w1000 center mt1 clear">
            <div class="footer_left"></div>
            <div class="footer_body">
                <p class="powered">
                    杜绝虚假信息  欢迎社会监督
                    正宗酒类品牌数据查询网站  权威查询  谨防假冒
                    未经书面授权禁止转载TOP云酒名单数据
                    举报电话：025-85737881
                    举报邮箱：10529212@qq.com
                    <br />
                    公司地址：南京市雨花台区软件大道23号
                    <div class="copyright">Copyright © 2022 <a href="https://beian.miit.gov.cn" target="_blank">[field:icp/]</a></div>
                    Powered by <a href="https://www.v6cms.cn" target="_blank">v6cms</a>.
                    <!--/powered -->
                </p>
            </div>
            <div class="footer_right">
                <script>
                    var _hmt = _hmt || [];
                    (function () {
                        var hm = document.createElement("script");
                        hm.src = "https://hm.baidu.com/hm.js?42003b7d12525df910827976c45ca19d";
                        var s = document.getElementsByTagName("script")[0];
                        s.parentNode.insertBefore(hm, s);
                    })();
                </script>
            </div>
        </div>
        <!-- /footer -->
    </div>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#leader_comment").on("submit", function () {
                $.ajax({
                    url: "/api/article_api/leader_comment",
                    type: "post",
                    data: {
                        article_id: '[field:article_id/]',
                        leader_password: $("#leader_password").val(),
                        leader_comment_content: $("#leader_comment_content").val()
                    },
                    success: function (res) {
                        alert(res.message);
                        if (res.code == 200) {
                            location.reload();
                        }
                    }
                });
                return false;
            });

            $.get("/api/article_api/update_views",
                {
                    column_id: '[field:column_id/]',
                    article_id: '[field:article_id/]'
                },
                function (data) {
                    $("#views").text(data);
                }
            );
        });
    </script>
</body>
</html>
