<!-- //底部模板 -->
<div class="footer w1000 center mt1 clear">
    <div class="footer_left"></div>
    <div class="footer_body">
	<p class="powered">
        杜绝虚假信息  欢迎社会监督
        正宗酒类品牌数据查询网站  权威查询  谨防假冒
		未经书面授权禁止转载TOP云酒名单数据
        举报电话：025-85737881
        举报邮箱：10529212@qq.com
        公司地址：南京市雨花台区软件大道23号<br/>
        <div class="copyright">Copyright © 2020 <a href="https://beian.miit.gov.cn/#/Integrated/index">{dede:global.cfg_beian/}</a></div>
        <!--/powered -->
   </div>
   <div class="footer_right">
       <script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?42003b7d12525df910827976c45ca19d";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>
   </div>
</div>